body {
    font-family: Arial, sans-serif;
    background-color: #32bce6;
    padding: 30px;
  }
  h1 {
    font-size: 2em;
  }
  input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    background-color:skyblue;
    color: black;
    border-radius:0.3cm ;
  }
  #output {
    background: rgb(224, 169, 66);
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(158, 141, 141, 0.1);
  }
  .table-section {
    margin-top: 20px;
  }
  button:hover{
    background-color: gold;
    color: brown;
    transform: translatex(-5px);
    transition: 1s;
  }
  .bmn a{
    text-decoration: none;

  }